<aside class="bg-neutral-900 text-neutral-300 w-64 p-4 flex flex-col space-y-6 h-full border-e border-gray-700 overflow-y-auto fixed top-16 left-0 bottom-0">
  <div>
    <ul class="space-y-2">
      <li>
        <a routerLink="akis" class="block px-2 py-1 rounded-md hover:bg-neutral-800 flex space-x-2">
          <fa-icon [icon]="'home'"></fa-icon>
          <span>Akış</span>
        </a>
      </li>
      <li>
        <a href="#" class="block px-2 py-1 rounded-md hover:bg-neutral-800 flex space-x-2">
          <fa-icon [icon]="'compass'" class="w-4 h-4"></fa-icon>
          <span>Keşfet</span>
        </a>
      </li>
      <li>
        <a href="#" class="block px-2 py-1 rounded-md hover:bg-neutral-800 flex space-x-2">
          <fa-icon [icon]="'fire'" class="w-4 h-4"></fa-icon>
          <span>Popüler</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
