<div class="bg-neutral-900 text-white min-h-screen max-w-4xl ml-12">
  <div 
    class="w-full h-48 bg-cover bg-center relative rounded-xl" 
    [ngStyle]="{ 'background-image': 'url(' + (user.coverPhoto ?? 'default-cover-photo.jpg') + ')' }">
    <div class="absolute top-32 left-4 flex items-center gap-4">
      <img 
        [src]="user.profilePhoto || 'null-profil-photo.png'"
        alt="Profile Photo" 
        class="w-36 h-36 rounded-full border-4 border-gray-800 object-cover" />
      <div class="mt-12">
        <h1 class="text-2xl font-bold">{{ user.fullName }}</h1>
        <p class="text-gray-400">&#64;{{ user.userName }}</p>
      </div>
    </div>
  </div>

  @if (identityService.getUserName() !== user.userName) {
    <div class="flex justify-end mt-2">
      @if (user.isFollower) {
        <button 
          class="bg-red-600 hover:bg-red-700 px-4 py-2 rounded-full text-white"
          (click)="unfollow()"
        >
          Takibi Bırak
        </button>
      } @else {
        <button 
          class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-full text-white"
          (click)="follow()"
        >
          Takip Et
        </button>
      }
    </div>
  } @else {
    <div class="mt-24"></div>
  }

  <div class="px-4 mt-12 mb-1">
    @if (user.bio) {
      <p class="text-gray-300">{{ user.bio }}</p>
    }
  </div>

  <div class="px-4 mb-4">
    <p class="text-gray-500">
      Katılma tarihi: 
      <span class="text-gray-300">{{ user.accountCreatedDate | formatDate }}</span>
    </p>
  </div>

  <div class="grid grid-cols-4 text-center bg-neutral-800 mb-8">
    <div class="hover:bg-neutral-700 p-4 cursor-pointer transition-all duration-300">
      <p class="text-xl font-bold">{{ user.postsCount }}</p>
      <p class="text-gray-400">Posts</p>
    </div>
    <div class="hover:bg-neutral-700 p-4 cursor-pointer transition-all duration-300">
      <p class="text-xl font-bold">{{ user.commentsCount }}</p>
      <p class="text-gray-400">Comments</p>
    </div>
    <div class="hover:bg-neutral-700 p-4 cursor-pointer transition-all duration-300">
      <p class="text-xl font-bold">{{ user.followersCount }}</p>
      <p class="text-gray-400">Followers</p>
    </div>
    <div class="hover:bg-neutral-700 p-4 cursor-pointer transition-all duration-300">
      <p class="text-xl font-bold">{{ user.followingCount }}</p>
      <p class="text-gray-400">Following</p>
    </div>
  </div>

  <app-user-posts [userName]="userName"></app-user-posts>
</div>