@if (identityService.isAuthenticated) {
  <form 
    [formGroup]="commentForm"
    (ngSubmit)="create()"
    class="bg-neutral-900 p-4 rounded-xl border border-neutral-700 mt-6"
  >
    <div class="flex items-start space-x-4">
      <img 
        [src]="identityService.getProfilePhoto() ?? 'null-profil-photo.png'" 
        alt="User Avatar" 
        class="w-10 h-10 rounded-full"
      />
      
      <div class="flex-1 relative">
        <textarea 
          #commentInput
          formControlName="content" 
          id="comment" 
          rows="3" 
          maxlength="500"
          class="w-full bg-neutral-800 text-neutral-200 rounded-xl border border-neutral-600 p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 resize-none" 
          placeholder="Yorumunuzu buraya yazın..."
        ></textarea>
        
        <div 
          class="absolute bottom-2 right-4 text-sm text-neutral-400"
        >
          {{ commentInput.value.length }}/500
        </div>
      </div>
    </div>
    
    <div class="flex justify-end mt-3">
      <button 
        type="submit" 
        class="bg-blue-600 text-white px-4 py-2 rounded-xl font-medium hover:bg-blue-700 transition duration-200"
        [disabled]="commentForm.invalid"
      >
        Gönder
      </button>
    </div>
  </form>
}