<div class="flex items-start space-x-3 mb-2">
  <img
    [src]="reply.userProfilePhoto"
    [alt]="reply.userName"
    class="w-6 h-6 rounded-full object-cover"
  />
  <div class="relative flex-1">
    <div class="bg-neutral-900 rounded-lg">
      <div class="flex items-center">
        <a 
          href="#"
          class="font-semibold text-white hover:text-indigo-300 inline text-sm mr-2"
        >
          {{ reply.userName }}
        </a>
        <div class="text-sm text-gray-400 text-xs">
          {{ reply.createdDate | timeAgo }}
        </div>
      </div>
      @if (identityService.getUserId() === reply.userId) {
        <div class="dropdown">
          <button
            class="p-2 rounded-full hover:bg-gray-800 absolute right-0"
            (click)="toggleMenu(reply.id)"
          >
            <fa-icon [icon]="faEllipsisV"></fa-icon>
          </button>
          @if (reply.id === activeMenuId) {
            <div class="absolute right-4 mt-10 bg-neutral-800 border border-gray-700 rounded-lg shadow-lg z-10">
              <button 
                class="block w-full px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 rounded-t-lg"
                (click)="toggleEdit()">
                Düzenle
              </button>
              <button 
                class="block w-full px-4 py-2 text-sm text-red-500 hover:bg-gray-700 rounded-b-lg"
                (click)="deleteComment(reply.id)">
                Sil
              </button>
            </div>
          }
        </div>
      } 
      @if (editing) {
        <app-edit-comment 
          [commentId]="reply.id"
          [content]="reply.content"
          (cancelEdit)="toggleEdit()"
          (refreshContent)="updateReplyContent($event)">
        </app-edit-comment>
      } @else {
        <div class="text-gray-200 py-2">{{ reply.content }}</div>
        <div class="flex items-center gap-2 mb-2">
          <span>
            <fa-icon 
              [icon]="faThumbsUp" 
              class="mr-1 cursor-pointer rounded-full hover:text-green-700">
            </fa-icon>
            <span class="text-gray-400 text-sm">150</span>
          </span>
          <span>
            <fa-icon 
              [icon]="faThumbsDown" 
              class="mr-1 cursor-pointer rounded-full hover:text-red-700">
            </fa-icon>
            <span class="text-gray-400 text-sm">50</span>
          </span>
          @if (identityService.isAuthenticated) {
            <button 
              class="text-xs font-semibold py-2 px-3 hover:bg-gray-800 rounded-full"
              (click)="toggleReply()"
            >
              Yanıtla
            </button>
          }
        </div>
      } 
    </div>
  </div>
</div>

@if (replying) {
  <app-reply-comment
    [postId]="postId"
    [parentCommentId]="parentComment.id"
    (cancelReply)="toggleReply()"
    (listSentReply)="addTempReply($event)"
  ></app-reply-comment>
}

@if (showTempReplies) {
  @for (reply of tempReplies; track $index) {
    <app-reply
      [reply]="reply"
      [postId]="postId"
      [parentComment]="parentComment"
    ></app-reply>
  }
}
